# ============================================================
# Brickverse Backend Environment Variables Template
# Copy these values into Dokploy -> Application -> Environment
# ============================================================

SECRET_KEY=django-insecure-3owhio85m_aumhz+^v(#g-%2sfiy6y%jzw+9&s&k69=w@#qv_z
DEBUG=False
ALLOWED_HOSTS=brickbackend.eezzymart.tech,brickverse.eezzymart.tech,localhost,127.0.0.1,brickverse-brickversedb-w2cxqk,0.0.0.0,*
DATABASE_URL=postgresql://postgres:ZqJsV6b6F4L7kb5G7z4X@brickverse-brickversedb-w2cxqk:5432/brickverse
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=https://brickverse.eezzymart.tech,https://brickbackend.eezzymart.tech,http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=https://brickbackend.eezzymart.tech,https://brickverse.eezzymart.tech,http://localhost:3000,http://127.0.0.1:3000
